@font-face {
  font-family: "iconfont"; /* Project id 3160289 */
  src: url('iconfont.woff2?t=1644892409598') format('woff2'),
       url('iconfont.woff?t=1644892409598') format('woff'),
       url('iconfont.ttf?t=1644892409598') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sign-out:before {
  content: "\e668";
}

.icon-un-lock:before {
  content: "\e632";
}

.icon-lock:before {
  content: "\e633";
}

.icon-refresh:before {
  content: "\ec08";
}

.icon-menu-tags-operate:before {
  content: "\e644";
}

.icon-menu-tag-right:before {
  content: "\e647";
}

.icon-menu-tag-left:before {
  content: "\e648";
}

.icon-what:before {
  content: "\e653";
}

.icon-menu-tag-close:before {
  content: "\e638";
}

.icon-image-remove:before {
  content: "\e61a";
}

.icon-upload-plus:before {
  content: "\e62d";
}

.icon-contract-manage:before {
  content: "\e631";
}

.icon-order-manage:before {
  content: "\e64c";
}

.icon-system-manage:before {
  content: "\e6ae";
}

.icon-business-info:before {
  content: "\e62e";
}

.icon-logistics-manage:before {
  content: "\e612";
}

.icon-customer-manage:before {
  content: "\e73e";
}

.icon-menu-collapse:before {
  content: "\e643";
}

